mixin inputMain(type, name, placeholder, required)
    if !required
        +b('input').input-main(type=type, name=name, placeholder=placeholder)
    else
        +b('input').input-main(type=type, name=name, placeholder=placeholder, required='required')