//- info vars
- var companyname = 'Fly Code'
- var tel = '+79082993238'
- var phone = '8 908 299-32-38'
- var email = 'info@fly-code.com'
- var address = 'г. Тамбов, ул. Державинская 16а'

block vars

head
    meta(charset='utf-8')
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content=description)

    // Twitter Card data
    meta(name='twitter:title', content=title)
    meta(name='twitter:description', content=description)
    meta(name='twitter:image', content='/img/content/shares/twitter.jpg')

    // Open Graph data
    meta(property='og:type', content='article')
    meta(property='og:url', content='https://agro-kompleks.flcd.ru')
    meta(property='og:title', content=title)
    meta(property='og:description', content=description)
    meta(property='og:image', content='/img/content/shares/facebook.jpg')

    // Vkontakte data
    link(rel='image_src', href='/img/content/shares/vkontakte.jpg')

    // Favicons
    link(rel='icon', href='/img/content/favicons/favicon.png', sizes='32x32')

    // Stylesheets
    link(href='/css/libs.min.css', type='text/css', rel='stylesheet', media='screen')
    link(href='/css/main.css', type='text/css', rel='stylesheet', media='screen')

    // Scripts
    script(src='/js/libs.min.js')
    script(src='/js/common.js')